{% macro buttons(contato) %}
<form action="/deletar_contato" method="post" style="display:inline;">
    <button class="waves-effect waves-light btn-small red" type="submit">
        <i class="material-icons right">delete</i>Deletar
    </button>
    <input type="hidden" name="email" value="{{contato.email}}">
</form>

<a href="#edit-modal-{{ contato.Email }}" class="waves-effect waves-light btn-small blue modal-trigger">
    <i class="material-icons right">edit</i>Editar
</a>

<div id="edit-modal-{{ contato.Email }}" class="modal">
    <div class="modal-content">
        <h4>Editar Contato</h4>
        <form action="/editar_contato" method="post">
            <input type="hidden" name="email" value="{{ contato.Email }}">
            <div class="input-field">
                <input type="text" id="nome-{{ contato.Nome}}" name="nome" value="{{ contato.Nome }}" required>
                <label for="nome-{{ contato.Nome }}">Nome</label>
            </div>

            <div class="input-field">
                <input type="text" id="email-{{ contato.Email }}" name="email" value="{{ contato.Email }}" disabled>
                <label for="email-{{ contato.Email }}">email</label>
            </div>

            <div class="input-field">
                <input type="text" id="telefone{{ contato.Telefone }}" name="telefone" value="{{ contato.Telefone }}" required>
                <label for="telefone-{{ contato.Telefone }}">telefone</label>
            </div>

            <div class="input-field">
                <input type="text" id="tags-{{ contato.Tags }}" name="tags" value="{{ contato.Tag }}" required>
                <label for="tags-{{ contato.Tags }}">tags</label>
            </div>

            <button type="submit" class="waves-effect waves-light btn">Salvar</button>
        </form>
    </div>

</div>




{% endmacro %}
